# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build
/dist
tsconfig.app.tsbuildinfo
tsconfig.node.tsbuildinfo

# misc
.DS_Store
.env
.npm
npm-debug.log